@model IEnumerable<SystemZapisowy.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<h2>Explore the possibilities of the Easiest Complete Tactical System (ECTS).</h2>
<h5>"Wow! I didn't think enrollment will ever be so simple!" ~ John age 20 </h5>
<h5>"Simply amazing." ~ Veronica age 21 </h5>
<h5>"Deez nuts!" ~ Dr Dre age 53 </h5>
<h5>"Działa pod systemem Łyndołs!" ~ Dr Kabanos 61 </h5>
<h5>"Jednak Entity Framework..." ~ Dr Bird 36 </h5>
<h5>"No, na magisterskich to już wszyscy prace mieli" ~ Dr Prezes 50 </h5>