@model IEnumerable<SystemZapisowy.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<h2>Explore the possibilities of the Easiest Complete Tactical System (ECTS).</h2>
<h5>"Lorem ipsum something something"</h5>
